<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
    {% if is_logged %}
        <button> <a href="{% url 'postcreate' %}"> Опубликовать обьявление</a> </button>
        <button><a href="{% url 'replies' %}">Мои отклики</a></button>
        <button><a href="{% url 'logout' %}">Выйти</a></button>
        {% if user_is_staff %}
            <button><a href="{% url 'send_mails' %}">Сделать новостную рассылку</a></button>
        {% endif %}
    {% else %}
        <button><a href="{% url 'login' %}">Войти</a></button>
    {% endif %}

    <p>Здравствуйте, {{ user.username }}</p>

    {% if posts %}
    <table align="center" cellspacing=20>
           <tr>
               <td style="font-size:20px"><b>Название</b></td>
               <td style="font-size:20px"><b>Категория</b></td>
               <td style="font-size:20px"><b>Содержание</b></td>
           </tr>

           {% for post in posts %}
           <tr>
               <td><a href="{% url 'post' post.id %}">{{ post.title }}</a></td>
               <td>
                   {% for cat in post.category.all %}
                   {{ cat }}
                   {% endfor %}
               </td>
               <td>{{ post.content|truncatewords:10}}</td>
               <td>
               {% if user == post.post_author %}
                   <button><a href="{{ post.id }}/edit">Редактировать</a></button>
                   <button><a href="{{ post.id }}/delete">Удалить</a></button>
               {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

</body>
</html>